*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

/*=====================
GRID SYSTEM
=====================*/
@mixin row {
  font-size: 0;
  font-family: 'Roboto Slab', Arial, sans-serif;
}

@mixin col($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
  width: percentage($col/$sum);
  font-size: 16px;
  display: inline-block;
  vertical-align: $align;
  box-sizing: border-box;
  padding-left: if($first, 0, $gap);
  padding-right: if($last, 0, $gap);

  @media only screen and (min-width: 768px) {
    width: percentage($col/$sum);
    vertical-align: $align;
  }
}

/*=====================
Variables
=====================*/
@import url(https://fonts.googleapis.com/css?family=Bitter|Roboto+Slab);


$header-font: 'Bitter', Arial, sans-serif;
$body-font: 'Roboto Slab', Arial, sans-serif;

$primary-font-color: #0097a7;
$content-font-color: #212121;

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*=====================
NAVBAR
=====================*/
$content-width: 1000px;
$breakpoint: 800px;
$nav-height: 70px;
$nav-background: #0097a7;
$nav-font-color: #ffffff;
$link-hover-color: #006974;

.navigation {
  height: $nav-height;
  background: $nav-background;
  margin: -10px;
  width: 103%;
}

.nav-container {
  max-width: $content-width;
  margin: 0;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-family: $header-font;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

nav {
  float: right;
  margin: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      font-family: $body-font;
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
      }
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

.underline {
	height: 2px;
	width: 0;
	margin: 0 auto;
	background-color: black;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: 66px;
  width: $nav-height;
}

@media only screen and (max-width: $breakpoint) {
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}



/*=====================
INDEX PAGE
=====================*/
.contact-icons {
  @include centerer;
}


/*=====================
PORTFOLIO PAGE
=====================*/

h2 {
  font-family: $body-font;
}

.projects, .products, .compare {
  @include row;
  margin-bottom: 50px;
}

.projects article {
  @include col(1, 2);
}

.products article {
  background: #eee;
  @include col(1, 3, $align: middle);
}

.compare article {
  @include col(1, 2);
}

.portfolio-link {
  display: block;
}

.icons {
  display: inline-block;
  width: 36px;
  padding: 5px;
  line-height: 1em;
}
